:default_deltacloud_url: http://localhost:3002/api

:auth:
  # supported strategies: database, ldap
  :strategy: <%= enable_ldap ? "ldap" : "database" %>
:groups:
  # allows locally-managed groups
  :enable_local: true
  # allows ldap-managed groups
  :enable_ldap: true
:iwhd:
  :url: http://localhost:9090
  :oauth:
    :consumer_key: <%= iwhd_oauth_user %>
    :consumer_secret: <%= iwhd_oauth_password %>

:imagefactory:
  :url: https://localhost:8075/imagefactory
  :oauth:
    :consumer_key: <%= imagefactory_oauth_user %>
    :consumer_secret: <%= imagefactory_oauth_password %>

:session:
  :timeout: <%= conductor_settings_session_timeout %>

:action_mailer:
  :delivery_method: sendmail # or smtp
  # define smtp_settings if you use smtp as delivery_method
  # :smtp_settings:
  #   :address: smtp.gmail.com
  #   :port: 587
  #   :domain: example.aeolusproject.org
  #   :user_name: <username>,
  #   :password: <password>
  #   :authentication: plain
  #   :enable_starttls_auto: true
  :default_url_options:
    :host: localhost/conductor
    :protocol: https
  :default_from: admin@aeolusproject.org
  :password_reset_token_timeout: 120 #minutes
